html {
  background: url(../assets/img/background.jpg); /* no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.done {
  text-decoration: line-through;
}

ul {
  list-style-type: none;
}

img.profile-photo {
  max-width: 80px;
}
img.mini-pic {
  max-height: 20px;
}

.contact {
  border: 1px solid #CCCCCC;
  float: left;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.thumbnail {
  margin-bottom: 5px;
}

.contacts {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.coming {
  background-color: #dff0d8;
}
.notComing {
  background-color: #D48582;
}
.maybeComing {
  background-color: #F3FC96;
}
