<div class="well">
  <h1><span class="glyphicon glyphicon-wrench"></span> Hello, web-app!</h1>
  <p>Tompi's scaffolding for web-apps</p>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h4>Server deps</h4>
        Dependencies:
        <table class="table table-condensed table-striped">
          <thead><tr><th>Name</th><th>Version</th></tr></thead>
          <tbody>
            <tr ng-repeat="dep in server.dependencies">
              <td>{{dep.name}}</td><td>{{dep.value}}</td>
            </tr>
          </tbody>
        </table>
        Dev-Dependencies:
        <table class="table table-condensed table-striped">
          <thead><tr><th>Name</th><th>Version</th></tr></thead>
          <tbody>
            <tr ng-repeat="dep in server.devDependencies">
              <td>{{dep.name}}</td><td>{{dep.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h4>Client deps</h4>
        Dependencies:
        <table class="table table-condensed table-striped">
          <thead><tr><th>Name</th><th>Version</th></tr></thead>
          <tbody>
            <tr ng-repeat="dep in client.dependencies">
              <td>{{dep.name}}</td><td>{{dep.value}}</td>
            </tr>
          </tbody>
        </table>
        Dev-Dependencies:
        <table class="table table-condensed table-striped">
          <thead><tr><th>Name</th><th>Version</th></tr></thead>
          <tbody>
            <tr ng-repeat="dep in client.devDependencies">
              <td>{{dep.name}}</td><td>{{dep.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
