<div class="well">

  <div class="row">
    <div class="col-md-12">
      <h3>Neste trening: {{nextEvent}} <small>{{nextEventFromNow}}</small></h3>
    </div>
  </div>
    <div class="row ng-hide" ng-show="!!event.description">
      <div class="col-md-12">
        <div class="contacts bg-info">
          <p>{{event.description}}</p>
        </div>
      </div>
    </div>
    <div class="row ng-hide pull-right" ng-show="loggedIn">
      <div class="col-md-12">
        <a ng-click="editDescription = !editDescription" href="">Rediger ekstra trenings-info</a>
      </div>
    </div>
    <div class="row ng-hide" ng-show="loggedIn && editDescription">
      <div class="col-md-12">
        <textarea ng-model="event.description" class="form-control" rows="3"></textarea>
        <a class="btn btn-default pull-right" ng-click="updateDescription()">
          <i class="fa fa-save fa-1"></i> Lagre beskrivelse
        </a>
      </div>
      <div class="clearfix"/>
      <br/>
    </div>

  <div class="row ng-hide" ng-show="loggedIn">
    <div class="col-md-12">
      <div class="well well-sg">
        <div class="col-md-4">
          <div ng-include src="'fotball/user.html'"></div>
        </div>
        <div class="col-md-8">
          <a class="btn btn-default" ng-class="{disabled: coming}" 
            ng-click="coming=true;notComing=false;maybeComing=false;changeStatus();">
            <i class="fa fa-thumbs-up fa-3"></i> Jeg kommer
          </a>
          <a class="btn btn-default" ng-class="{disabled: maybeComing}"
            ng-click="coming=false;notComing=false;maybeComing=true;changeStatus();">
            <i class="fa fa-question fa-3"></i> Jeg kommer kanskje
          </a>
          <a class="btn btn-default" ng-class="{disabled: notComing}" 
            ng-click="coming=false;notComing=true;maybeComing=false;changeStatus();">
            <i class="fa fa-thumbs-down fa-3"></i> Jeg kommer ikke
          </a>
        </div>
        <div class="clearfix"/>
        </div>
      </div>
    </div>

    <div class="row" ng-hide="loggedIn">
      <div class="col-md-12">
        <div class="well well-sg">
          <h2>Logg inn for å si fra om du kommer eller ikke:</h2>
          <p>
            <a href="/auth/facebook" class="btn btn-lg btn-default">
              <i class="fa fa-2x fa-facebook-square"></i> Facebook
            </a>
            <a href="/auth/google" class="btn btn-lg btn-default">
              <i class="fa fa-2x fa-google-plus"></i> Google
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="well well-sg">
          <div class="contacts coming">
            <b>Disse kommer:</b>
            <div ng-repeat="user in event.coming">
              <div class="contact" ng-include src="'fotball/user.html'"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="contacts maybeComing">
            <b>Disse kommer KANSKJE:</b>
            <div ng-repeat="user in event.maybeComing">
              <div class="contact" ng-include src="'fotball/user.html'"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="contacts notComing">
            <b>Disse kommer IKKE:</b>
            <div ng-repeat="user in event.notComing">
              <div class="contact" ng-include src="'fotball/user.html'"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a href="" ng-click="logout()" class="ng-hide pull-right" ng-show="loggedIn">
          Logg ut
        </a>
      </div>
    </div>

  </div>

